<!-- 



<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" style="margin-top : 50px;">

  <form #f="ngForm" (ngSubmit)="Signup(f)" class="form-horizontal">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Signup</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label class="col-xs-3">Username</label>
          <div class="col-xs-9">
            <input type="text" class="form-control" name="username" ngModel>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-3">First Name </label>
          <div class="col-xs-9">
            <input type="text" class="form-control" name="firstname" ngModel>
          </div>
          <label class="col-xs-3">Last Name </label>
          <div class="col-xs-9">
            <input type="text" class="form-control" name="lastname" ngModel>
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-3">Password</label>
          <div class="col-xs-9">
            <input type="password" class="form-control" name="password" ngModel>
          </div>
        </div>
        <button type="submit" class="btn btn-default pull-right">Signup</button>
      </div>
    </div>

  </form>

</div> -->

<!-- <div class="container">
  <div id="signup">
     <div class="signup-screen">
        <div class="space-bot text-center">
           <h1>FOOTYBOARD SIGN UP FORM</h1>
          <div class="divider"></div>
        </div>
          <form #f="ngForm" (ngSubmit)="Signup(f)" class="form-register"  novalidate>
            <div class="input-field col s6">
              <input  type="text" placeholder="username" name="userName" ngModel>
            </div> 
            <div class="input-field col s6">
             <input  type="text" placeholder="First Name" name="firstName" ngModel>
           </div>
           <div class="input-field col s6">
             <input  type="text" placeholder="Last Name" name="lastName" ngModel>
            </div>
            <div class="input-field col s6">
             <input type="email" name="email" placeholder="Email Address" ngModel>
            </div>
            <div class="input-field col s6">
              <input type="password" name="password"  class="waves-effect waves-light btn submit" placeholder="password" ngModel>
             </div>

             <input type="file" name=""  id="" (change)="fileChange($event)" > -->

<!-- <img src="{{ imagePath }}" alt="No Image" srcset=""> -->

<!-- <div class="space-top text-center">
              
              <button type="submit" class="waves-effect waves-light btn submit">Submit
              
              </button>
             </div>
            </form>
          </div>
       </div>
   </div> -->


<form #f="ngForm" (ngSubmit)="Signup(f)" class="form-register" action="action_page.php" style="">
  <div class="container">
    <h1>Footyboard Sign Up Form</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label style="color: white"> 
      <b>Username</b>
    </label>
    <input type="text" placeholder="Enter Username" name="userName" ngModel>

    <label style="color: white">
      <b>Password</b>
    </label>
    <input type="password" placeholder="Enter Password" name="password" ngModel>


    <label style="color: white">
      <b>Email</b>
    </label>
    <input type="text" placeholder="Enter Your Email" name="email" ngModel>


    <label style="color: white">
      <b>First Name</b>
    </label>
    <input type="text" placeholder="First Name" name="firstName" ngModel>

    <label style="color: white">
      <b>Last Name</b>
    </label>
    <input type="text" placeholder="Last Name" name="lastName" ngModel>


    <input type="file" name="" id="" (change)="fileChange($event)" style="color: white">

    <!-- <img src="{{ imagePath }}" alt="No Image" srcset=""> -->


    <div class="clearfix">
      <button type="submit" class="signupbtn">Sign Up</button>
      <button type="button" routerLink="" class="cancelbtn">Cancel</button>

    </div>


    <div class="alert alert-warning" *ngIf="submitError == true">
      Please input All fields
    </div>
  </div>
</form>


<!-- footer -->