


<!-- form -->
  <div class="main">
		<h1>Footyboard Login Form</h1>
		<div class="main-w3lsrow">
			<!-- login form -->
			<div class="login-form login-form-left"> 
				<div class="agile-row">
					<h2 sty>Footyboard Login</h2>
					<span class="fa fa-lock"></span>
					<div class="clear"></div>
					<div class="login-agileits-top"> 	
						<form #f="ngForm" (ngSubmit)="Login(f)" action="#" > 
							<input type="text"  name="userName" Placeholder="Username" ngModel>
							<input type="password"  name="password" Placeholder="Password" ngModel>
							<button type="submit" class="btn btn-primary">Login</button>
						</form> 	
					</div> 
					<div class="login-agileits-bottom"> 
						
					</div> 

					
						  

				</div>  
			</div>  
		</div>	
		
					
		
		<!-- copyright -->
		
		<!-- //copyright --> 
	</div>	
	<!-- //main --> 